.col-md-8
  .btn-group
    %button.btn.btn-primary.dropdown-toggle{ type: "button", :"data-toggle" => "dropdown" }
      Community Groups
      %span.caret
    %ul.dropdown-menu{ role: "menu" }
      %li
        = link_to "Community Groups", manage_community_groups_path
      %li
        = link_to "Housing Providers", manage_housing_providers_path
      %li
        = link_to "Retrofit Providers", manage_retrofit_providers_path

  %table.table.table-striped
    %thead
      %tr
        %th Group name
        %th Address/location
        %th # of buildings
        %th Contact
    %tbody
      - @community_groups.each do |community_group|
        %tr{ data: { longitude: community_group.longitude, latitude: community_group.latitude } }
          %td= community_group.name
          %td= community_group.location
          %td= community_group.buildings.count
          %td
            - if community_group.admins.any?
              = mail_to community_group.contact_email, community_group.contact_name
            - else
              %span.label.label-danger No Admin

.col-md-4
  #map

