.col-md-3
  .col-md-12
    = render partial: 'building_energy'
  .col-md-12
    = render partial: 'group_energy'
  .col-md-12
    = render partial: 'about_carbon_factors'
  .col-md-12
    = render partial: 'weather_data'

.col-md-3
  .col-md-12
    = render partial: 'explore_building_energy'
  .col-md-12
    = render partial: 'explore_local_energy'

.col-md-3
  .col-md-12
    = render partial: 'explore_group_energy'
  .col-md-12
    = render partial: 'manage_group'

.col-md-3
  .col-md-12
    = render partial: 'manage_account'
  .col-md-12
    = render partial: 'find_retrofit_providers'
