.col-md-2
  %h3 C O B W E B
  %p.lead
    Common building energy platform on the web

  = image_tag "home.jpg"

  = render template: '/devise/sessions/new'

.col-md-4
  .well
    
    %p
      COBWEB allows users to store energy use data from multiple sources in one place, to map that data, to apply standard analytical procedures, and to export data for more detailed analysis. 

      %ul
        %li Identify buildings, blocks, estates and districts that are relatively high or low energy users for improvement.
        %li Correlate data with information from own databases to inform partnerships with energy companies, Green Deal and installation companies. 
        %li Support more effective targeting of retrofit activity and the associated investments by local authorities and third parties.
        %li Social housing providers, organisation with large property portfolios, facilities managers and even community groups can understand energy profile of own stock.
        %li Linking property level geo-data with real time smart metering data can significantly enhance the management of energy systems and the participation of consumers within it.

    = image_tag "map.jpg"

.col-md-6
  %p.lead
    To start, tell us who you are
  .col-md-4
    %h4 Local Authority

    %ul.list-unstyled
      %li Sustainability Manager or team
      %li Energy Manager or team
      %li Local authority housing manager or team
      %li Local authority school manager or team


  .col-md-4
    %h4 Landlord

    %p
      (multiple buildings)

    %ul.list-unstyled
      %li Housing provider
      %li Private or domestic landlord or developer
      %li Private commercial landlord or developer


  .col-md-4
    %h4 Community Group

    %ul.list-unstyled
      %li Local business partnership
      %li Local retrofit partnership
      %li Fuel poverty agency
      %li Neighbourhood or district low carbon / sustainability group


.col-md-6
  .col-md-4
    = link_to "Sign up", new_user_registration_path(role: "local_authority"), class: "btn btn-primary pull-right"
  .col-md-4
    = link_to "Sign up", new_user_registration_path(role: "landlord"), class: "btn btn-primary pull-right"
  .col-md-4
    = link_to "Sign up", new_user_registration_path(role: "community_group_administrator"), class: "btn btn-primary pull-right"

.col-md-6
  .col-md-4
    %h4 Householder

    %ul.list-unstyled
      %li Homeowner
      %li Tenant

    %p
      Sign up here whether you were invited by a community
      group or simply want to keep track of your energy use.

  .col-md-4
    %h4 Business

    %ul.list-unstyled
      %li Business in a single location (tenant or owner)
      %li Landlord of a single building


  .col-md-4
    %h4 Retrofit Provider

    %ul.list-unstyled
      %li Energy company with emissions reduction obligation
      %li Green Deal provider
      %li Retrofit Installer
      %li Heat network provider or developer

.col-md-6
  .col-md-4
    = link_to "Sign up", new_user_registration_path(role: "homeowner"), class: "btn btn-primary pull-right"
  .col-md-4
    = link_to "Sign up", new_user_registration_path(role: "business"), class: "btn btn-primary pull-right"
  .col-md-4
    = link_to "Sign up", new_user_registration_path(role: "retrofit_provider"), class: "btn btn-primary pull-right"

.col-md-12
  .credits
    Financially supported by the
    =image_tag "TSB_set_logo.png", :class => "TSB"
    \- Future Cities Solutions
    = image_tag "brookes.png"
    = image_tag "RTA_logo.jpg"
