.container
  .col-md-6
    - if user_signed_in?
      %p.lead Welcome to Cobweb #{current_user.name_or_email}
    - else
      = render :template => '/devise/sessions/new'
  .col-md-6
    .authform
      = form_tag "/projects/search", method: :get, html: { role: 'form' } do
        .form-group
          = label_tag :postcode
          = text_field_tag :postcode, nil, :class => "form-control"

        = submit_tag 'Search', :class => "button right"
