%tr
  %td= link_to project.name, project
  %td= project.location
  %td= project.properties.count
  %td= project.running_since
  %td
    - unless current_user.try(:member_of?, project)
      = button_to "Apply", project_applications_path(project), method: :post, class: "btn btn-sm btn-success"

