.container
  - if @postcode
    %h1 Projects near #{ @postcode }

  .row
    %table.table.table-striped
      %tr
        %th Project Name
        %th Location
        %th # of Properties
        %th Running since
        %th Join
      = render @projects
  .row
    %p.lead
      Or create a new project:
    .well
      = form_for Project.new, method: :post do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control"
        .form-group
          = f.label :location
          = f.text_field :location, class: "form-control"
        .form-group
          = f.label :description
          = f.text_area :description, class: "form-control"

        = f.submit "Create", class: "button right btn btn-primary"
      

