.container
  %h1
    Enter building data
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Street #
        %th Street Name
        %th City
        %th Postcode
        %th
          %abbr{ title: "Year of Construction" } Year
        %th # occupants
        %th
          %abbr{ title: "Number of occupants accuracy" } Accuracy
        %th Floor Area
        %th
          %abbr{ title: "Floor Area accuracy" } Accuracy
        %th Category
        %th Group
    %tbody
      - @buildings.each do |building|
        %tr
          %td= link_to building.name, edit_building_path(building)
          %td= building.street_number
          %td= building.street_name
          %td= building.city
          %td= building.postcode
          %td= building.year_of_construction
          %td= building.number_of_occupants
          %td= building.occupants_accuracy
          %td= building.floor_area
          %td= building.area_accuracy
          %td= building.category
          %td= building.group_name
          %td= link_to "Enter Data", building_building_energy_profiles_path(building_id: building.id), class: "btn btn-primary"

  - if @building
    = form_for @building, :html => {:class => "inline-form", :role => "form"} do |f|
      .form-group 
        = f.label :name, class: "sr-only"
        = f.text_field :name, class: "form-control input-sm", placeholder: "Building Name"
      .form-group 
        = f.label :street_number, class: "sr-only"
        = f.text_field :street_number, class: "form-control input-sm", placeholder: "Street Number"
      .form-group 
        = f.label :street_name, class: "sr-only"
        = f.text_field :street_name, class: "form-control input-sm", placeholder: "Street Name"
      .form-group 
        = f.label :city, class: "sr-only"
        = f.text_field :city, class: "form-control input-sm", placeholder: "City"
      .form-group 
        = f.label :postcode, class: "sr-only"
        = f.text_field :postcode, class: "form-control input-sm", placeholder: "Postcode"
      .form-group 
        = f.label :year_of_construction, class: "sr-only"
        = f.text_field :year_of_construction, class: "form-control input-sm", placeholder: "Year of Construction"
      .form-group 
        = f.label :number_of_occupants, class: "sr-only"
        = f.text_field :number_of_occupants, class: "form-control input-sm", placeholder: "# of occupants"
      .form-group 
        = f.label :occupants_accuracy, class: "sr-only"
        = f.select :occupants_accuracy, options_for_select(["metered", "modelled", "certified", "estimated"]), {}, { class: "form-control input-sm" }
      .form-group 
        = f.label :floor_area, class: "sr-only"
        = f.text_field :floor_area, class: "form-control input-sm", placeholder: "floor area"
      .form-group 
        = f.label :area_accuracy, class: "sr-only"
        = f.select :area_accuracy, options_for_select(["metered", "modelled", "certified", "estimated"]), {}, { class: "form-control input-sm" }
      .form-group 
        = f.label :category, class: "sr-only"
        = f.select :category, BuildingCategory.all.map { |c| [c.selector, c.slug] }, { include_blank: true, selected: @building.category }, class: "form-control input-sm"
      .form-group 
        = f.label :group_name, class: "sr-only"
        = f.text_field :group_name, class: "form-control input-sm", placeholder: "group"
      %span.form-group 
        = f.submit "Enter Data", class: "btn btn-primary"

  %button.btn.btn-primary
    New Building

:javascript
  var submitFormAndCreateNew = function(url) {
    var buildingForm = $('form#new_building');

    if (buildingForm.length > 0) {
      buildingForm.submit();
    } else {
      window.location = url;
    }
  };

  jQuery(document).ready(function($) {
    $('button#new_building').on('click', function() {
      submitFormAndCreateNew("#{new_building_url}");
    });
  });
