.container
  %h1
    Enter building data
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Street #
        %th Street Name
        %th City
        %th Postcode
        %th
          %abbr{ title: "Year of Construction" } Year
        %th # occupants
        %th
          %abbr{ title: "Number of occupants accuracy" } Accuracy
        %th Floor Area
        %th
          %abbr{ title: "Floor Area accuracy" } Accuracy
        %th Category
    %tbody
      - @buildings.each do |building|
        %tr
          %td= building.name
          %td= building.street_number
          %td= building.street_name
          %td= building.city
          %td= building.postcode
          %td= building.year_of_construction
          %td= building.number_of_occupants
          %td= building.occupants_accuracy
          %td= building.floor_area
          %td= building.area_accuracy
          %td= building.category

      - if @building
        = form_for @building do |f|
          %tr
            %td
              = f.label :name, class: "sr-only"
              = f.text_field :name, class: "form-control input-sm", placeholder: "Building Name"
            %td
              = f.label :street_number, class: "sr-only"
              = f.text_field :street_number, class: "form-control", placeholder: "Street Number"
            %td
              = f.label :street_name, class: "sr-only"
              = f.text_field :street_name, class: "form-control", placeholder: "Street Name"
            %td
              = f.label :city, class: "sr-only"
              = f.text_field :city, class: "form-control", placeholder: "City"
            %td
              = f.label :postcode, class: "sr-only"
              = f.text_field :postcode, class: "form-control", placeholder: "Postcode"
            %td
              = f.label :year_of_construction, class: "sr-only"
              = f.text_field :year_of_construction, class: "form-control", placeholder: "Year of Construction"
            %td
              = f.label :number_of_occupants, class: "sr-only"
              = f.text_field :number_of_occupants, class: "form-control", placeholder: "# of occupants"
            %td
              = f.label :occupants_accuracy, class: "sr-only"
              = f.select :occupants_accuracy, options_for_select(["metered", "modelled", "certified", "estimated"]), {}, { class: "form-control" }
            %td
              = f.label :floor_area, class: "sr-only"
              = f.text_field :floor_area, class: "form-control", placeholder: "floor area"
            %td
              = f.label :area_accuracy, class: "sr-only"
              = f.select :area_accuracy, options_for_select(["metered", "modelled", "certified", "estimated"]), {}, { class: "form-control" }
            %td
              = f.label :category, class: "sr-only"
              = f.select :category, BuildingCategory.all.map { |c| [c.selector, c.id] }, { include_blank: true }, class: "form-control"
            %td
              = f.submit "Enter Data", class: "btn btn-primary"

  = button_to_function "New Building", "submitFormAndCreateNew('#{new_building_url}')", class: "btn btn-primary"

