.col-md-8
  %h4 Individual buildings

  %table.table.table-striped
    %thead
      %tr
        %th Building name
        %th Address
        %th Building group
    %tbody
      - @buildings.each do |building|
        %tr{ :"data-longitude" => building.longitude, :"data-latitude" => building.latitude }
          %td= link_to building.name, edit_building_path(building)
          %td= building.address
          %td= "group?" #building.building_groups.name

  %h4 Building groups

  %table.table.table-striped
    %thead
      %tr
        %th Group name
        %th Sector
        %th Location details
    %tbody
      - @building_groups.each do |building_group|
        %tr{ :"data-longitude" => building_group.longitude, :"data-latitude" => building_group.latitude }
          %td= building_group.name
          %td
            = building_group.sector
            = building_group.category == "all" ? "" : "(#{building_group.category})"
          %td
            = building_group.location_scope
.col-md-4
  #map

:javascript
  var map = L.map('map').setView([51.505, -0.09], 14);
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var mqUrl='http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png';
  var subDomains = ['otile1','otile2','otile3','otile4'];
  var mqAttrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
  var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

  L.tileLayer(mqUrl, {
    attribution: mqAttrib,
    maxZoom: 18,
    subdomains: subDomains
  }).addTo(map);

  $('tr').each(function() {
    if ($(this).data('latitude') && $(this).data('longitude')) {
      L.marker([$(this).data('latitude'), $(this).data('longitude')]).addTo(map);
    }
  });
