%tr
  %td= link_to building.address, building

  %td= building.co2_m2
  %td= building.co2_occupant

  %td= building.kwh_m2
  %td= building.kwh_occupant

  %td= building.gbp_m2
  %td= building.gbp_occupant
